.shop__section {
   padding-top: 0;

   h2 {
      text-align: center;
   }
}

.filter__widget {
   select {
      margin: 5px 0;
      padding: 8px 20px;
      background: var(--dark-blue);
      color: var(--color-white);
      border: 1px solid var(--dark-blue);
      border-radius: 5px;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      option {
         font-size: 0.9rem;
      }
   }
}

.search__box {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid var(--dark-blue);
   border-radius: 5px;
   padding: 0 12px 0 2px;
   margin: 5px 0;
   cursor: pointer;

   input {
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 10px;
   }

   span {
      font-size: 16px;
      color: var(--dark-blue);
   }
}